In [4]:
import pandas as pd
import seaborn as sns

In [58]:
df = pd.read_csv('big_data.csv')
# df.groupby(df.columns.tolist(), as_index=False).size().sum(axis='index')

In [59]:
df['Label'] = df['Point'].apply(lambda point: 0 if point >= 6  else 1)

In [60]:
neg = df[df['Label'] == 1]
pos = df[df['Label'] == 0]

In [61]:
print(len(neg))
print(len(pos))

3801
6369

In [62]:
pos = pos.head(610)
neg = neg.head(420)

In [63]:
print(len(neg))
print(len(pos))
print(len(neg) + len(pos))

420
610
1030

In [64]:
big_data = pd.concat([pos, neg])
big_data = big_data.sample(frac=1, random_state=0).reset_index(drop=True)
big_data = big_data.drop('Label', axis=1)
big_data.to_csv('small_data.csv', index=False)

In [65]:
dt = pd.read_csv('small_data.csv')
dt

                                                 Review  Point
0     Quán không gian không có địa điểm ăn tại chỗ, ...    4.4
1     mình có ord ở đây 2combo bánh mì tiêu đen + co...    2.0
2     Đặt mỳ gà v mỳ bò về ăn, mỳ quảng ăn đ...    7.6
3     Hôm bữa đi ăn 2 phần bún đậu có gọi thêm sữa c...    1.0
4     Ăn tô mì cay mà thảm cảnh thật . Mì tôm việt n...    5.0
...                                                 ...    ...
1025  Nhân viên nhiệt tình, thân thiện, thức uống ng...   10.0
1026  lăng mạ, chửi khách hàng. tự ý lấy hình của kh...    1.0
1027  Dimsum không ngon, phục vụ ok. Giá cả chưa thậ...    4.8
1028  Mọi hôm hay ăn bông lan trứng muối gí cả ok rấ...    8.4
1029  Đến quán lúc 8h tối order 2 ly mang về. Sau đó...    2.6

[1030 rows x 2 columns]

In [53]:
print(len(dt[dt['Point'] >= 6]))

1030